<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142130801767-71paafghc33p9flkqri4krpcaf0tridh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142130801767-71paafghc33p9flkqri4krpcaf0tridh</string>
	<key>API_KEY</key>
	<string>AIzaSyBllL_d3mRP-LV31F61doj3THHIx1uflk8</string>
	<key>GCM_SENDER_ID</key>
	<string>142130801767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.exhayashi.CoffeeApp</string>
	<key>PROJECT_ID</key>
	<string>coffeeapp-eedbd</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeapp-eedbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142130801767:ios:b860063fd1a39a501478c2</string>
	<key>DATABASE_URL</key>
	<string>https://coffeeapp-eedbd.firebaseio.com</string>
</dict>
</plist>